<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title= title
    meta(
      name='description',
      content=g.description
    )
    link(rel="icon" href="/logo16.png" type="image/png" sizes="16x16")
    link(rel="icon" href="/logo32.png" type="image/png" sizes="32x32")
    link(rel="icon" href="/logo96.png" type="image/png" sizes="96x96")
    meta(property='og:type' content='profile')
    meta(property='og:url', content=g.websiteUrl)
    meta(
      property='og:description',
      content=g.description
    )
    link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;700&family=Work+Sans:ital@0;1&display=swap" rel="stylesheet" preload)
    block head
  body
    block content