html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ruby Quail Resume
    meta(
      name='description',
      content=g.description
    )
    link(rel="icon" href="/logo16.png" type="image/png" sizes="16x16")
    link(rel="icon" href="/logo32.png" type="image/png" sizes="32x32")
    link(rel="icon" href="/logo96.png" type="image/png" sizes="96x96")
    link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;700&family=Work+Sans:ital@0;1&display=swap" rel="stylesheet" preload)
    link(rel="stylesheet" href="style.css")
  body.light
    aside#sidebar
      section#title
        img#portrait(
          srcset=`${g.blobUrl}/portrait/portrait_square.jpg 1080w, ${g.blobUrl}/portrait/portrait_squaresml.jpg 300w`,
          alt='portrait'
          )
        h1 Ruby Quail
      section#skills
        h4 Skills
        for skill in skills
          h6= skill.type
          ul
            for sk in skill.skills
              li=sk

      section#contact
    main#content
      section#bio
        h4 About
        include:markdown-it ../../intro.md
      section#experience
        h4 Experience
        ul#experience-list
          each val in experience
            li.exp
              div
                != val.from + '<br/> — ' + val.to
              section
                h6= val.role
                strong= val.company
                p= val.desc
      section#education
        h4 Education
        ul#experience-list
          each val in education
            li.exp
              div
                != val.from + '<br/> — ' + val.to
              section
                h6= val.qual
                strong= val.org
                p= val.desc