---
import portrait from '../assets/portrait.png';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import '../styles/index.css';
import { Content as Intro } from '../intro.md';
import Layout from '_layouts/Basic.astro';
import D from '../_data/data.json';
import IconButton from '_components/IconButton.astro';
import Svg from '_components/SvgComponent.astro';
import HomeAnim from '_components/HomeAnim.svelte';
import moment from 'moment'
import { resolve } from 'path';
import type { MarkdownInstance } from 'astro';
import AcknowledgementOfCountry from '_components/AcknowledgementOfCountry.svelte';
const socials = Object.values(D.icons);
const blogPosts = (await getCollection('blog')).sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0,3);
let iconSizes = [16, 32, 96];
console.log(import.meta.env);

const projectGlob = Array.from(
	Object.values(
		import.meta.glob<MarkdownInstance<any>>(
			['../pages/projects/*/*.md', '../pages/projects/*/*.astro'],
			{ eager: true },
		),
	),
);
---

<Layout title="Ruby Quail Design">
	<AcknowledgementOfCountry client:only="svelte" />
	<header class="card">
		<HomeAnim client:only />
		<div class="title-block">
			<h1 class="title">Ruby Quail Design</h1>
			<div class="services">
				<span class="service">Service</span>
				<span class="service">Industrial</span>
				<span class="service">Interaction</span>
				<span class="service">System</span>
			</div>
		</div>
	</header>
	<main>
		<section id="bio">
			<Image
				src={portrait}
				width={300}
				class="portrait"
				alt="Portrait Photo of Ruby Quail with a red tint applied"
			/>
			<div>
				<Intro />
				<nav id="socials">
					{
						socials.map(ic => (
							<IconButton icon={ic.icon} link={ic.link} id={ic.id}>
								{ic.text}
							</IconButton>
						))
					}
				</nav>
			</div>
		</section>
		<section id="Blog">
			<h2><a href="">Recent Blog Posts</a></h2>
			{
				blogPosts.map(post => (
					<h3>
						<a href={`/blog/${post.slug}`}>{post.data.title}</a>
					</h3>
					<span>{moment(post.data.date).format('dddd, Do of MMMM YYYY')}</span>
					<p>{post.data.desc}</p>
				))
			}
			<p>
				<a href="/blog">See more</a>
			</p>
		</section>
		<section id="projects">
			<h2>Projects</h2>
			{
				projectGlob.map(t => {
					const fm = t.frontmatter;
					return (
						<div class:list={['project']}>
							{fm.image ? (
								<Svg href={resolve(t.url, fm.image)} title={fm.title} />
							) : undefined}
							<div>
								<h3 set:text={fm.title} />
								<p set:text={fm.desc} />
								{fm.ready && (
									<p>
										<a href={t.url}>Find out more</a>
									</p>
								)}
							</div>
						</div>
					);
				})
			}
		</section>
	</main>
</Layout>
