---
import type * as A from 'astro';

type WorkEntry = {
	role: string;
	company: string;
	from: string;
	to: string;
	description: A.MarkdownInstance<any>['Content'];
	history?: { from: string; to: string; role: string }[];
};
export interface Props {
	entry: WorkEntry;
}
const {
	role,
	company,
	from,
	to,
	history,
	description: Desc,
} = Astro.props.entry as WorkEntry;
---

<section class="work-entry">
	<h3>{role}</h3>
	<h4>{company}</h4>
	<h4>{from} - {to}</h4>
	{
		history?.length > 0 ? (
			<>
				<span>
					<em>previously</em>
				</span>
				{history.map(e => (
					<>
						<h4>{e.role}</h4>
						<h5>
							{e.from} - {e.to}
						</h5>
					</>
				))}
			</>
		) : (
			false
		)
	}
	<Desc />
</section>
